* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin: 4rem 0;
}

.container {
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}


/* Small Screens size */

@media only screen and (max-width: 700px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 5px;
}

.box h3 {
    margin: 2rem 0;
    text-align: center;
    font-style: oblique;
}

.box .description {
    width: 80%;
    margin: 1rem 0;
    text-align: center;
    line-height: 24px;
}

.date__address__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.date__address__container .date {
    margin: 1rem 0;
}

.delete__btn {
    padding: 0.8rem 3rem;
    font-size: 14px;
    background-color: rgb(207, 0, 0);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin: 2rem 0;
    cursor: pointer;
    transition: all 0.6s ease;
}

.delete__btn:hover {
    transform: scale(1.05);
}